.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(206, 206, 206);
    display: flex;
    justify-content: center;
    align-items: start;
    cursor: pointer;
    overflow: auto;
}

.modal {
    position: relative;
    top: 80px;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 692px;
    width: 100%;
    text-align: left;
    cursor: auto;
    margin-bottom: 40px;
}

.container {
    max-width: 605px;
    width: 100%;
    margin: 0 auto;
}

.blockWriteComment {
    border: solid 1px #d1d5db;
    border-radius: 5px;
    margin: 15px 0;
    text-align: left;
    padding: 10px;
}

.authorComment {
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.textComment {
    font-size: 14px;
    font-weight: 400;
}

.blockComment {
    margin-bottom: 40px;
}

.nameBlockComment {
    float: left;
    padding: 5px 0;
    font-size: 14px;
    font-weight: 500;
}

.inputComment {
    width: 100%;
    height: 70px;
    border-radius: 5px;
    border: solid 1px #d1d5db;
}

.infoComment {
    float: left;
    font-size: 14px;
    font-weight: 400;
}

.photo {
    max-width: 605px;
    width: 100%;
    max-height: 405px;
    border-radius: 10px;
    border: solid 1px #c0c0c0;

    /*image-rendering: -moz-crisp-edges; !* Firefox *!*/
    /*-ms-interpolation-mode: nearest-neighbor;  !* IE *!*/
    /*image-rendering: crisp-edges; !* Стандартное свойство *!*/
}

.title {
    /*text-align: left;*/
    font-size: 22px;
    font-weight: 500;
    border-bottom: solid 2px rgba(192, 192, 192);
    padding-bottom: 8px;
    margin: 8px 0;
}

.description {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
    /*text-align: left;*/
}

.pointDescription {
    word-wrap: break-word;
    margin: 2px 5px;
}

.link {
    font-weight: 500;
    font-size: 20px;
    border-top: solid 2px rgba(192, 192, 192);
    padding-top: 8px;
    margin: 8px 0;
}

.linkItem {
    margin-left: 5px;
    text-decoration: none;
    color: black;
}

.blockBtn {
    border-top: solid 2px rgba(192, 192, 192);
    padding-top: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnSave {
    display: block;
    font-weight: 500;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 6px;
    text-align: center;
    background-color: #4f46e5;
    color: white;
    margin: 5px;
    text-decoration: none;
    cursor: pointer;
}
